.best-players {
  font-family: 'Roboto';
  padding: 50px;
  max-width: 1000px;
  margin: 33px auto;
  background-color: rgba(0, 0, 0, 0.05) !important;

  .best-players__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #333333;
    margin-bottom: 25px;
  }
}