.header {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 20px;

  .header__logo p {
    flex-basis: 10%;
    padding: 2px 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:nth-child(1) {
      color: #ffffff;
      background-color: #2196f3;
    }

    &:nth-child(2) {
      color: #2196f3;
      background-color: #fff;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .nav__items {
    display: flex;
    justify-content: flex-end;

    .nav__item {
      display: flex;
      gap: 9px;
      flex-direction: column;
      align-items: center;
      padding: 12px 10px;

      font-size: 15px;
      letter-spacing: 0.4px;
      color: #ffffff;

      &:hover {
        transition: all ease 0.2s;
        cursor: pointer;
        background-color: #1e88e5;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .header__right {
    display: flex;
    gap: 15px;

    .header__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 10px;
    .header__logo p {
      padding: 2px 10px;
      font-size: 10px;
      line-height: 12px;
    }

    .header__nav {
      height: 100%;
    }

    .nav__items {
      height: 100%;
      .nav__item {
        height: 100%;
        gap: 9px;
        padding: 8px 4px;
        font-size: 14px;
        letter-spacing: 0.2px;
        text-align: center;
        img {
          width: 15px;
          height: 15px;
        }
      }
    }

    .header__right {
      display: flex;
      gap: 5px;

      .header__avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 424px) {
  .header {
    height: 50px;
    padding: 0 0 0 5px;
    .header__logo p {
      padding: 2px 10px;
      font-size: 8px;
      line-height: 12px;
    }

    .nav__items {
      .nav__item {
        gap: 5px;
        padding: 8px 4px;
        font-size: 10px;
        letter-spacing: 0.2px;
        text-align: center;
        img {
          width: 15px;
          height: 15px;
        }
      }
    }

    .header__right {
      display: flex;
      gap: 5px;

      .header__avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
  }
}
