.header {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 20px;

  .header__logo p {
    flex-basis: 10%;
    padding: 2px 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:nth-child(1) {
      color: #ffffff;
      background-color: #2196f3;
    }

    &:nth-child(2) {
      color: #2196f3;
      background-color: #fff;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .nav__items {
    display: flex;
    justify-content: flex-end;

    .nav__item {
      display: flex;
      gap: 9px;
      flex-direction: column;
      align-items: center;
      padding: 12px 10px;

      font-size: 15px;
      letter-spacing: 0.4px;
      color: #ffffff;

      &:hover {
        transition: all ease 0.2s;
        cursor: pointer;
        background-color: #1e88e5;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}